  .quill {
    box-sizing: border-box;
    width: 80vw;
    overflow: scroll;
  }

  .quill::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }


  .ql-container {
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .ql-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  .ql-editor {
    cursor: text;
    height: 100vh;
  }
