.user-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-top: 15px;
}

.allnotes-link-container {
  position: relative;
}

.sidebar-link {
  cursor: pointer;
}

.add-button {
  margin-left: 25px;
}

.user-fullname {
  margin-left: 10px;
}

.user-dropdown {
  display: flex;
}

.user-column {
  margin-left: 20px;
  width: 175px;
  font-weight: bold;
  color: #ababab;
}

.account-title {
  margin: 10px;
  color: #ababab;
  font-weight: bold;
}

.selected {
  background-color: #404040;
  color: white;
}

.form-errors {
  color: red;
  margin: 10px 20px;
  font-weight: bold;
}
